html { /*rgb(221, 175, 248);*/
    background-color: rgb(51, 12, 73);
    display: block;
}

.barrasuperior {
    height: 70px;
    margin: 0;
    background-color: whitesmoke;
    overflow: hidden;
}

.barrasuperior > img {
    padding-top: 5px;
    padding-left: 10px;
    height: 70%;
}

.barrasuperior > h1 {
    display: inline;
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}


.parte1 {
    margin-top: 15px;
    max-height: 700px;
    height: 100%;
    width: cover;
    background-color: transparent;
    text-align: center;
    /*display: block;*/
    display: block ; /*FLEX!*/
    flex-direction: row; /*os elementos sao alinhados ao contrario do padrao*/
    justify-content: space-between;
    align-items: center;
}

.central {
    padding-top: 5px ;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    height: auto;
    width: 50%;
    border-radius: 5%;
    position: relative;
    display: block;
    left: 25%;
    top: 25%;
    box-shadow: 10px 10px #000;
    
}

.blocorotacionando {
    height: 100px;
    width: 100px;
    background-color: lightcyan;
    position: relative;
    animation: girando 2s infinite;
   /* transform:skewX(10deg); /*distorce o elemento 10deg no eixo X*/
   /* transform: translate(100px,50px); /*transla a posicao do bloco*/
}

@keyframes girando {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }

    50% {
        transform: rotate(180deg);
        left: 150px;
    }

    100% {
        transform: rotate(360deg);
        left: 300px;
    }
}

.botao {
    font-size: large;
    opacity: .5;
    width: 90%;
    height: 50px;
}

.botao-myprojects{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    opacity: .5;
    width: 90%;
    height: 50px;
    color: black;
}

.botao:hover {
    background-color: black;
    color: white;
}

.botao-professionalblog {
    margin-bottom: 20px;
    font-size: large;
    opacity: .5;
    width: 90%;
    height: 50px;
    color: black;
}

.botao-professionalblog:hover {
    background-color: black;
    color: white;
}

.botao-myprojects:hover {
    background-color: black;
    color: white;
}

.socialmedia {
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-evenly;
    
}


.imagem-socialmedia {

    height: 75%;
}


.foto {
    border: 2px solid white;
    border-radius: 1000px;
    box-shadow: 15px 15px #000;
    height: 250px;
    margin-top:50px;
    margin-bottom: 50px;
    /*animation: pulando 2s infinite;*/
    position: relative;
}

.foto:hover {
    border-color: red;
}

@keyframes pulando {
    0% {
        top: 0;
        bottom: 100px;
    }

    50% {
        top: 125px;
        bottom: 50px;
    }

    100% {
        top: 250px;
        bottom: 0;
    }
}

.brincando {
    margin-top: 200px;
    justify-content: space-evenly;
    border: 1px solid green;
    display:flex;
    flex-wrap:  wrap;
    flex-flow: row wrap ; /*flew-direction flew-wrap*/
}

.caixa {
    height: 100px;
    width: 300px;
    background-color: pink;
    margin-left: 10px;
    margin-top: 10px;
    border-color: black;
}


main:nth-child(1) {
    order: 3;
   /* flex-grow: 1; /*aumenta a largura para ocupar o resto do espaço no container*/
}

main:nth-child(2){
    order: 2;
    flex-shrink: 0; /*o elemento nao vai diminuir, apenas as outras diminuem*/
                    /*qnt maior o valor, mais rapido o elemento vai diminuir de tamanho primeiro que os outros*/
}

main:nth-child(3){
    order: 1;
    flex-basis: 50px; /*largura inicial diferenciada
                        nao controla so a altura, mas tbm
                        a altura.*/
}

/*flex - une o flexgrow, flexshrink e flexbasis*/
/*flex: 0 1 100px*/
/*align-self alinha o elemento dentro do container. De forma separada*/

/*Grid Layout, módulo do CSS3*/


/*Media Queries*/

@media (max-width: 1400px) { /*valor máximo que a tela do usuário tem que ter,
                            para o código ser habilitado*/
                           /*orientation: landscape, portrait - para quando o dispositivo estiver deitado ou em modo portrato*/
    .foto {
        border: 2px solid white;
        border-radius: 1000px;
        box-shadow: 15px 15px #000;
        height: 300px;
    /* animation: pulando 2s infinite;*/
        position: relative;
    }

    .central {
        background-color: white;
        height: 50%;
        width: 80%;
        border-radius: 5%;
        position: relative;
        outline: none;
        display: block;
        left: 10%;
        top: 25%;
        box-shadow: 10px 10px #000;
        
    }

    .title-lifeupdate {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 13px;
        margin-left:10px;
    }


    .board-lifeupdate {
        height: 150px;
        background-color: white;
        overflow: scroll; 
        display: flex;
        align-items: center;
    }

    .image-boardlifeupdate {
        height: auto;
        width: auto;
        margin-left: 20px;
        position: relative;
    }
}


.imagem {
    width: 100%;
    max-width: 256px; /*tamanho original e máximo*/
}

/*Cuidado ao usar muitas imagens!! Gasta muita internet*/

.life-update {
    margin-top: 350px;
    border: 1px solid green;
    align-items: center;
}

.title-lifeupdate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.board-lifeupdate {
    height: 500px;
    background-color: white;
    overflow: scroll; 
    display: flex;

    align-items: center;
}

.image-boardlifeupdate {
    height: 90%;
    margin-left: 20px;
}

.image-boardlifeupdate:hover {
    opacity: 50%;
}

footer{
    height: 500px;
    background-color: white;
}