
.toronto__image, .ct__image, .it__image{
    padding: 8px;
    width: 350px;
    justify-content: center;
}

.toronto__text {
    text-align: justify;
    padding: 8px;
    font-size: 16px;
}